:root {
    --bg-color: #FBF9F5;
    --card-color: white;
    --text-primary-color: #1B1C1A;
    --secondary-color: #78592D;
    --text-secondary-color: #615E5B;
    --tertiary-color: #F5F3EF;
    --input-placeholder-color: #807569;
}