form {
    margin-bottom: 24px;

    .checkbox-container {
        margin-top: 24px;
        display: flex;
        flex-direction: row;

        input[type="checkbox"] {
            accent-color: var(--secondary-color);
            width: 16px;
            height: 16px;
            cursor: pointer;
            border-radius: 2.5px;

        }

        label {
            padding-left: 12px;
            color: #4E453B;
        }

    }
}