<main>
    <div class="main-section">
        <section class="image-section">
            <img src="/assets/svg/login-background-photo.svg" class="login-image">
            <div class="overlay-section">
                <div class="upper-overlay-section">
                    <img src="/assets/svg/screen.svg" class="logo">
                    <div class="logo-title">
                        <h2 class="logo-title-h2">Aura Grand</h2>
                        <p>Palais & Residence</p>
                    </div>
                </div>
                <div class="mid-overlay-section">
                    <p>THE DISCERNING TRAVELER</p> 
                    <h1>An website to approach you with an magnific experience</h1>
                </div>
            </div>
        </section>
        <section class="input-section">
            <h1>Welcome to Your <span class="residence-text">Residence</span></h1>
            <p class="title-desc">Enter your privileged credentials to manage suite arrangements, tailor culinary selections, and review personal itinerary folios. </p>
            <ng-content></ng-content>
            <!-- 
            ///// jogar tudo pro ngc content ////
            <div class="checkbox-container">
                <input type="checkbox" id="inscricao" name="newslettet" value="sim">
                <label for="inscricao">Remember this workstation for private access</label>
            </div> -->
            <div class="btn-wrapper">
                <button class="btn-primary">{{ primaryBtnText }}</button>
                <button class="btn-secondary">{{ secondaryBtnText }}</button>
            </div>
            <section class="info-section">
                <img src="/assets/svg/Icon.svg" class="info-icon">
                <div class="info-desc">
                    <h2>Loyalty Privilege Status</h2>
                    <p>Guaranteeing you an premium experience with personalized hosting options.</p>
                </div>
            </section>
        </section>
    </div>
</main>
